[Desktop Entry]
Type=Application
Name=Sparsely
Comment=SPARSELY Software - SPARSE principal component LaboratorY
GenericName=SPARSELY Software - SPARSE principal component LaboratorY.
Exec="tmp/bin/sparsely"
Path="tmp/bin"
Icon=sparselyIcon.svg
Terminal=false
Categories=Utility;

