[Desktop Entry]
Type=Application
Name=Sparsely
Comment=SPARSELY Software - SPARSE principal component LaboratorY
GenericName=SPARSELY Software - SPARSE principal component LaboratorY.
Exec=/home/mthiao/Projects/softwares/output/bin/sparsely
Path=/home/mthiao/Projects/softwares/output/bin
Icon=sparselyIcon
Terminal=false
Categories=Utility;

